:root {
  @font-face {
    font-family: 'Audimat 3000 Regulier';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

.background {
  /* background-image: url(../../grid-background.png); */
  /* background-size: 400% 400%; */
  /* background-image: url(../../single-grid-background.png); */
  /* background-repeat: no-repeat, repeat; */
  /* background-size: cover; */
  /* background-size: cover; */
  background-color: #0000000;
  /* backgroung-blend-mode: lighten; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* margin: 0 auto; */
  /* height: 100vh; */
}

.background::before {
  content: '';
  background-image: url(../../single-grid-background.png);
  background-size: contain;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}

@media (prefers-color-scheme: dark) {
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
