:root {
  @font-face {
    font-family: 'Sohne-Buch';
    src: local('Sohne-Buch'), url(${Sohne-Buch}) format('woff2');
    unicodeRange: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF;
  }

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #282828;
}

.hero {
  background-size: cover;
  background-color: #282828;
  position: relative; 
  height: 100vh;
  width: 100%;
  opacity: 100;
}

.hero::after {
  content: '';
  background-color: #282828;
  background-image: url(../../single-grid-background.png);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.1;
}

.heroText {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #9eadf1;
  background-image: linear-gradient(90deg,#edf4c9,#9eadf1);
}

@media (prefers-color-scheme: dark) {
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
