:root {
  @font-face {
    font-family: 'Audimat 3000 Regulier';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

body {
  background-image: url(../../cool-background.png);
  background-repeat: no-repeat, repeat;

  background-size: cover;
}

@media (prefers-color-scheme: dark) {
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
